<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <wicket:panel>
        	<span wicket:id="ro-tree" class="tab-pane"></span>
			<style>
				#drop-container {width: 150px; height: 150px; border: solid;}
		  		#sortable { list-style-type: none; margin: 0; padding: 0; width: 250px; }
		  		#sortable li { margin: 2px 2px 2px 0; padding: 3px; float: left; width: 50px; height: 50px; font-size: 1em; text-align: center; }
		  	</style>
			<div style="width: 260px; height: 200px;" >
			<ul id="sortable">
			  <li class="ui-state-default"><a id="li1" href="http://www.example.com/1/">1</a></li>
			  <li class="ui-state-default"><a id="li2" href="http://www.example.com/2/">2</a></li>
			  <li class="ui-state-default"><a id="li2" href="http://www.example.com/2/">3</a></li>
			  <li class="ui-state-default"><a id="li2" href="http://www.example.com/2/">4</a></li>
			  <li class="ui-state-default"><a id="li2" href="http://www.example.com/2/">5</a></li>
			  <li class="ui-state-default"><a id="li2" href="http://www.example.com/2/">6</a></li>
			  <li class="ui-state-default"><a id="li2" href="http://www.example.com/2/">7</a></li>
			  <li class="ui-state-default"><a id="li2" href="http://www.example.com/2/">8</a></li>
			  <li class="ui-state-default"><a id="li2" href="http://www.example.com/2/">9</a></li>
			  <li class="ui-state-default"><a id="li2" href="http://www.example.com/2/">10</a></li>
			  <li class="ui-state-default"><a id="li2" href="http://www.example.com/2/">11</a></li>
			  <li class="ui-state-default"><a id="li2" href="http://www.example.com/2/">12</a></li>
			</ul>
			</div>
    	</wicket:panel>
    </body>
</html>