<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <wicket:panel>
        <!-- watermark -->
		<script type="text/javascript" src="js/jquery.watermark.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
			$("#main-search-input").watermark("Look for the keywords in annotations");
		});
		</script>
		<!--------------->
        <form class="form-search" wicket:id="searchFormBar">
			<input id="main-search-input" class="span5 search-querys" autocomplete="off" wicket:id="keywords" type="text"></input>
			<button id="search-button" class="btn" wicket:id="searchButtonBar" type="submit">
				<i class="icon-search"></i>
			</button>
		</form>
        </wicket:panel>
    </body>
</html>