<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <wicket:panel>
        <div id="hidden-files-shift-form-div" style="display: none;">
		    <form wicket:id="form" id="hidden-files-shift-form">
		        <input type="text" wicket:id="folderUri" id="shift-form-folder-uri" />
		       	<input type="text" wicket:id="fileUri" id="shift-form-file-uri"/>
				<input type="submit"/>
			</form>
		</div>
    	</wicket:panel>
    </body>
</html>