<?xml version="1.0"?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	
	<div wicket:id="folder-buttons-container" class="btn-group span11" style="border: 1px dashed #BBBBBB; margin-bottom: 5px;">
		<button class="btn"  wicket:id="add-resource">
			<i class="icon-file"></i>
		</button>
		<button class="btn"  wicket:id="download-folder">
			<i class="icon-download"></i>
		</button>
		<button class="btn"  wicket:id="delete-folder">
			<i class="icon-trash"></i>
		</button>
	</div>						
		
	<div wicket:id="resource-buttons-container" class="btn-group span11" style="border: 1px dashed #BBBBBB; margin-bottom: 5px;">
		<button class="btn"  wicket:id="edit-resource">
			<i class="icon-pencil"></i>
		</button>
		<button class="btn"  wicket:id="delete-resource">
			<i class="icon-trash"></i>
		</button>
		<button class="btn" wicket:id="download-resource">
			<i class="icon-download"></i>
		</button>
	
	</div>
</wicket:panel>