<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <wicket:panel>
        <div wicket:id="scrol-div" style="overflow: auto; height: 200px;">
			<div wicket:id="scrol-content-div" style="overflow: auto; height: 200px;">
			</div>
        </div>
        <div wicket:id="normal-div" style="overflow: auto; height: 200px;">
	        <div wicket:id="normal-content-div" style="overflow: auto; height: 200px;">
	        
	        	<ul id="sortable">
					<li wicket:id="filesListView" class="ui-state-default">
						<span wicket:id="tailLink"><span wicket:id="tailLabel" class="tailLabel"></span></span>
					</li>
				</ul>
			</div>
		</div>
    	</wicket:panel>
    </body>
</html>