<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<wicket:panel>
		<div class="padded" id="popover">
			<p>Research object quality:</p>
		</div>
		<div wicket:id="initialLabel" class="padded">
			<p>Calculating...</p>
		</div>
		<div wicket:id="progressBar" id="health-progress-bar-main-container"
			class="btn-toolbar padded" style="padding-right: 20px; cursor: pointer;">
			<div id="health-progress-bar" style="height: 10px;"></div>
		</div>
	</wicket:panel>
</body>
</html>
