<?xml version="1.0"?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div class="span11"
		style="border: 1px dashed #BBBBBB; margin-bottom: 5px;">
		<form class="form-stacked" wicket:id="roForm" style="margin: 0px">
			<div class="form-actions btn-toolbar">
				<div class="btn-group">
					<button class="btn" type="submit" wicket:id="downloadROZipped">
						<i class="icon-download"></i> zip
					</button>
					<button class="btn" type="submit" wicket:id="downloadMetadata">
						<i class="icon-download"></i> metadata
					</button>
				</div>
				<div class="btn-group">
					<button class="btn" type="submit" wicket:id="snapshot-ro-button">
						<i class="icon-camera"></i> snapshot
					</button>
					<button class="btn" type="submit" wicket:id="release-ro-button">
						<i class="icon-share"></i> release
					</button>
				</div>
			</div>
		</form>
	</div>
	<span wicket:id="downloadMetadataModal"></span>
</wicket:panel>