<?xml version="1.0"?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<span wicket:id="main-container" class="span11 tmpDashedContainer">
		<div class="span7">
			<span wicket:id="titleSection">
				<strong>Title:</strong> 
				<span wicket:id="title">[title]</span>
				<br>
			</span>
			<span wicket:id="resourceURISection">
				<strong>URI:</strong> 
				<a wicket:id="resourceURI">[uri]</a>
				<br>
			</span>
			<span wicket:id="creatorSection">
				<strong>Created by:</strong> 
				<span wicket:id="creator">[creator]</span>
				<br>
			</span>
			<span wicket:id="descSection">
				<strong>Description:</strong> 
				<span wicket:id="description">[created]</span>
			</span>
		
		</div>
		
		
		<div class="span3" >
			<span wicket:id="createdSection">
				<strong>Created on:</strong> 
				<span wicket:id="createdFormatted">[created]</span>
				<br>
			</span>
			<span wicket:id="sizeSection">
				<strong>File size:</strong> 
				<span wicket:id="sizeFormatted">[filesize]</span>
			</span>
			<span wicket:id="evoClassSection">
				<strong>Status:</strong> 
				<span wicket:id="evoType.toString">[evoType]</span>
			</span>
			<span wicket:id="annotationsCntSection">
				<br>
				<strong>Number of annotations:</strong>
				 <span wicket:id="annotations.size">[annotationsCnt]</span>
			</span>
		</div>
	</span>
</wicket:panel>
