#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0 
}

#sortable li { 
	margin: 2px 2px 2px 0; 
	padding: 3px; 
	float: left; 
	width: 112px; 
	height: 56px; 
	font-size: 1em; 
	text-align: center;  
	cursor: pointer;
}

.tailLabelSelected {
	font-weight: bold;
}

