.evoroot {
	position: relative;
}

.evo {
	position: relative;
	height: 120px;
}

.evo .node {
	border-width: 2px;
	border-style: solid;
	font-size: 0.8em;
	height: 80px;
	width: 100px;
	border-radius: 50px/40px;
	top: 20px;
	z-index: 20;
	opacity: 0.8;
	color: black;
}

.evo div {
	position: absolute;
}

.evo.live .node {
	border-color: rgb(237, 201, 81);
	background-color: rgba(237, 201, 81, 0.2);
}

.evo.snapshot .node {
	border-color: rgb(235, 104, 65);
	background-color: rgba(235, 104, 65, 0.2);
}

.evo.archived .node {
	border-color: rgb(204, 51, 63);
	background-color: rgba(204, 51, 63, 0.2);
}

.evo .nodeInside {
	height: 60px;
	width: 60px;
	position: absolute;
	top: 10px;
	left: 20px;
	word-wrap: break-word;
}

.evo .roMark {
	position: absolute;
	top: 60px;
	left: 70px;
}

.evo .roMark span {
	font-size: smaller;
}

.evo .node.active {
	box-shadow: 0 0 12px 6px rgba(82, 168, 236, 0.8);
}

.evolabel {
	border: 1px solid #346789;
	background-color: white;
	padding: 3px;
	opacity: 1.0;
	z-index: 30;
}