.evo {
	position: relative;
}

.evo .node {
	border: 2px solid #346789;
	font-size: 0.8em;
	height: 8em;
	width: 8em;
	position: absolute;
	z-index: 20;
	background-color: white;
	color: black;
	font-family: helvetica;
	opacity: 0.8;
	padding: 0.5em;
}

.evo .node.current {
	border-width: 4px;
}

.evo .evolabel {
	border: 1px solid #346789;
	background-color: white;
	padding: 4px;
	opacity: 1.0;
	z-index: 30;
}