<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
<body>
	<wicket:panel xmlns:wicket="http://wicket.apache.org">
		<div wicket:id="no-comments">
			<p class="text-center" ><em>There are no comments.</em></p>
		</div>
		<dl class="dl-horizontal" wicket:id="list">
			<dt>Comment</dt>
			<dd>
				<div wicket:id="comment"></div>
			</dd>
		</dl>
		<dl class="dl-horizontal" wicket:id="add-comment">
			<dt>Comment</dt>
			<dd>
				<div wicket:id="new-comment"></div>
			</dd>
		</dl>
	</wicket:panel>
</body>
</html>
