<?xml version="1.0"?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div wicket:id="content"></div>
	<wicket:fragment wicket:id="view">
		<form wicket:id="form" class="form-inline" style="margin-bottom: auto">
			<script type="text/javascript">
				$(document).ready(function() {
					$('.my-tooltip').tooltip();
				})
			</script>
			<em><small wicket:id="authorDate"></small></em>
			<div class="btn-group">
				<button data-original-title="edit" data-toggle="tooltip"
					data-placement="top" class="btn btn-mini my-tooltip"
					data-container="body" type="submit" wicket:id="edit">
					<i class="icon-edit"></i>
				</button>
				<button data-original-title="delete" data-toggle="tooltip"
					data-placement="top" class="btn btn-mini my-tooltip"
					data-container="body" type="submit" wicket:id="delete">
					<i class="icon-trash"></i>
				</button>
			</div>
			<p wicket:id="text"></p>
		</form>
	</wicket:fragment>
	<wicket:fragment wicket:id="editSingle">
		<script type="text/javascript">
			$(document).ready(function() {
				$('.my-tooltip').tooltip();
			})
		</script>
		<form wicket:id="form" style="margin-bottom: auto">
			<div class="input-append">
				<input class="span3" id="appendedInputButtons" type="text"
					wicket:id="text">
				<button data-original-title="apply" data-toggle="tooltip"
					data-placement="top" class="btn my-tooltip" data-container="body"
					type="submit" wicket:id="apply">
					<i class="icon-ok"></i>
				</button>
				<button data-original-title="cancel" data-toggle="tooltip"
					data-placement="top" class="btn my-tooltip" data-container="body"
					type="submit" wicket:id="cancel">
					<i class="icon-remove"></i>
				</button>
			</div>
		</form>
	</wicket:fragment>
	<wicket:fragment wicket:id="editMultiple">
		<script type="text/javascript">
			$(document).ready(function() {
				$('.my-tooltip').tooltip();
			})
		</script>
		<form wicket:id="form" style="margin-bottom: auto">
			<textarea wicket:id="text" style="width: 90%;"></textarea>
			<div class="btn-group">
				<button data-original-title="apply" data-toggle="tooltip"
					data-placement="top" class="btn my-tooltip" data-container="body"
					type="submit" wicket:id="apply">
					<i class="icon-ok"></i> Apply
				</button>
				<button data-original-title="cancel" data-toggle="tooltip"
					data-placement="top" class="btn my-tooltip" data-container="body"
					type="reset" wicket:id="cancel">
					<i class="icon-remove"></i> Cancel
				</button>
			</div>
		</form>
	</wicket:fragment>
</wicket:panel>
