<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:wicket>
<body>
	<wicket:panel>
		<table class="table table-hover table-condensed table-expandable">
			<thead>
				<tr>
					<th></th>
					<th>Resource</th>
					<th>Type</th>
					<th>Comments</th>
				</tr>
			</thead>
			<tbody>
				<tr wicket:id="folders">
					<td><i class="icon-folder-open"></i></td>
					<td class="resource-name"><div>
							<a href="#" wicket:id="name-link"><span wicket:id="name">-</span></a>
						</div></td>
					<td>Folder</td>
					<td wicket:id="comments-cnt">-</td>
				</tr>
				<tr wicket:id="files">
					<td><i class="icon-file"></i></td>
					<td class="resource-name"><div wicket:id="name">-</div></td>
					<td>File</td>
					<td wicket:id="comments-cnt">-</td>
				</tr>
			</tbody>
		</table>
	</wicket:panel>
</body>
</html>
