<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <wicket:panel>
			<img src="images/loading.gif"
				style="display: block; margin: 30px auto 30px auto;" />
			<p style="text-align: center;">
				<!-- <span wicket:id="loading-label"></span> -->
			</p>
        </wicket:panel>
    </body>
</html>
