<?xml version="1.0"?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<form class="form-inline" wicket:id="form">
		<div class="btn-toolbar">
			<button class="btn btn-warning my-tooltip" type="submit"
				wicket:id="button" data-toggle="tooltip" data-container="body">
				<i class="icon-envelope"></i> <span wicket:id="text">0</span>
			</button>
			<a wicket:id="rss"
				href="http://sandbox.wf4ever-project.org/rodl/notifications/?ro=http%3A%2F%2Fsandbox.wf4ever-project.org%2Frodl%2FROs%2F150%2F"><img
				alt="atom10" src="images/Feed-icon.svg.png"
				style="height: 30px; margin-left: 20px;"></a>
		</div>
	</form>
</wicket:panel>
