<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:wicket>
<body>
	<wicket:panel>
		<form class="form-search" wicket:id="searchFormBar">
			<fieldset>
				<input id="main-search-input" class="span5" 
					autocomplete="off" wicket:id="keywords" type="text"
					placeholder="Look for the keywords in annotations"></input>
				<button id="search-button" class="btn" wicket:id="searchButtonBar"
					type="submit">
					<i class="icon-search"></i>
				</button>
			</fieldset>
		</form>
	</wicket:panel>
</body>
</html>
